.wrap-list {
  user-select: none;
  display: inline-block;
  width: 100%;
  margin: 30px 10% 30px 5%;
}

.title-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin: 10px 0;
  /* background-color: rgb(247, 221, 187); */
}

.name-list {
  user-select: none;
  font-size: 35px;
  font-weight: 600;
  color: rgb(209, 214, 113);
  padding: 0 8px;
  border-bottom: 4px solid rgb(209, 214, 113);
  /* background-color: rgba(240, 248, 255, 0.8); */
}

.button-list {
  background: rgb(84, 150, 215);
  height: 40px;
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  color: rgb(6, 12, 32);
}

.button-list:hover {
  background: rgb(123, 183, 232);
}

.button-list:active {
  background: rgb(8, 88, 168);
  color: antiquewhite;
}

.content-list {
  width: 100%;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
}

img {
  padding: 10px;
}

.wrap-item {
  position: relative;
  padding-top: 175%;
}

.book-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.7);
}

.book-img {
  padding: 5% 5% 0 5%;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.book-img:hover {
  object-fit: contain;
}

.book-name {
  margin: 0 10px;
  font-size: 11pt;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Mobile: width: <= 480px ~ 30em */
@media only screen and (max-width: 30em) {
  .wrap-list {
    width: 100%;
    margin: 30px 0;
    /* margin: 30px 3%; */
  }

  .title-list {
    /* height: 50px; */
    width: 100%;
    margin: 10px 0;
  }

  .name-list {
    font-size: 16pt;
  }
}

/* Tablet: width: 481px ~ 30.0625em to 768px ~ 48em */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .wrap-list {
    width: 90%;
    margin: 30px 5% 30px 5%;
  }

  .title-list {
    width: 100%;
    margin: 10px 0 10px 0;
  }
}

/* Responsive for grid container */
@media only screen and (min-width: 61em) and (max-width: 80em) {
  .content-list {
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .book-name {
    font-size: 9pt;
  }
}

@media only screen and (min-width: 30.0625em) and (max-width: 61em) {
  .content-list {
    gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .book-name {
    font-size: 8pt;
  }
}

@media only screen and  (max-width: 30em) {
  .content-list {
    gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .book-name {
    font-size: 8pt;
  }
}