.nav-bar {
  display: flex;
  /* margin-top: 6px; */
  height: 60px;
  /* justify-content: space-between; */
}

.search-box {
  display: flex;
  margin-left: 20%;
  margin-top: 10px;
  height: 40px;
  width: 60%;
}

.input-search {
  height: 100%;
  width: 80%;
  font-size: 16px;
  padding: 10px;
}

.button-search {
  background: rgb(84, 150, 215);
  margin: 0 5px;
  height: 100%;
  width: 50px;
  font-size: 16px;
  border: 0;
}

.button-search:hover {
  background: rgb(123, 183, 232);
}

.button-search:active {
  background: rgb(8, 88, 168);
  color: antiquewhite;
}

.icon-search {
  color: white;
}

.alert {
  position: fixed;
  background: rgb(246, 158, 158);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  left: 20%;
  margin-top: 20px;
}

/* Mobile: width: <= 480px ~ 30em */
@media only screen and (max-width: 30em) {
  .search-box {
    display: none;
  }
}

/* Tablet: width: 481px ~ 30.0625em to 768px ~ 48em */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .search-box {
    width: 50%;
  }
}